
@font-face {
  font-family: 'DeterminationRUSBYLYAJKA';
  src: url('DeterminationRUSBYLYAJKA.eot?#iefix') format('embedded-opentype'),  url('DeterminationRUSBYLYAJKA.woff') format('woff'), url('DeterminationRUSBYLYAJKA.ttf')  format('truetype'), url('DeterminationRUSBYLYAJKA.svg#DeterminationRUSBYLYAJKA') format('svg');
  font-weight: normal;
  font-style: normal;
}
